/*  Fuentes */
@font-face {
    font-family: industrialRegular;
    src: url(fonts/Industrial-Regular.TTF) format('truetype');
}

@font-face {
    font-family: industrialItalic;
    src: url(fonts/Industrial-Italic.TTF) format('truetype');
}

/* Página*/

#altavoz1, #altavoz2{
    width: 110px;
    height: 110px;
    display: inline-block;
    vertical-align: top;
    animation: ensanchar 0.5s infinite;
}

#altavoz1{
    background: url("../Imagenes/altavozIzq.png");
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

#altavoz2{
    background: url("../Imagenes/altavozGrande.png");
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

aside{
    width: 22%;
    display: inline-block;
    vertical-align: top;
    margin: 40px 0px;
    margin-left: 100px;
    box-shadow: -5px 5px 5px grey;
    padding: 0 5px 10px 20px;
}
aside h3{
    text-align: right;
    margin-right: 30px;
}

body{
    font-family: industrialRegular;
    font-size: 22px;
    background: url("../Imagenes/Justice_in_concert.jpg") no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-attachment: fixed;
}

body h1, h2, h3, h4, h5{
    font-family: industrialItalic;
}

.centrar{
    text-align: center;
}

footer{
    text-align: center;
}

footer h6, #git{
    display: inline-block;
}

#git{
    width: 50px;
    height: 50px;
    background: url("../Imagenes/git.svg");
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    vertical-align: middle;
}

header{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

main{
    width: 60%;
    display: inline-block;
}

main section{
    width: 90%;
    margin: 0 auto;
}

main section article{
    padding: 0 20px 10px 5px;
    box-shadow: 5px 5px 5px grey;
    transition: all 1s;
}

main section article video, iframe{
    height: 150px;
    width: 250px;
}

main section article:hover{
    transition: transform 1s;
    transform: scale(1.02, 1.02);
}

#mifoto{
    display: inline;
}

#mifoto img{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

nav{
    box-shadow: 0px 5px 2px grey;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline-block;
    padding: 20px 60px;
    transition: background 1.5s;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li:hover{
    background-color: #d3d3d3;
    transition: background 1.5s;
}

#principal{
    background:-moz-linear-gradient(rgba(255, 255, 255, 0.1), #b7b7b7);
    background:-o-linear-gradient(rgba(255, 255, 255, 0.1), #b7b7b7);
    background:-webkit-linear-gradient(rgba(255, 255, 255, 0.1), #b7b7b7);
    background:linear-gradient(rgba(255, 255, 255, 0.1), #b7b7b7);
    border: 1px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

section article{
    margin: 40px 0;
}

section article h3{
    margin-left: 30px;
}

section article p{
    text-align: justify;
}

#sugerir table{
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

#sugerir table p{
    text-align: right;
    padding-right: 10px;
}

#titulo{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    text-shadow: 3px 3px 5px grey;

}

#titulo h1{
    margin-bottom: 0;
}

#titulo h3{
    margin:10px 0px 0px 80px;
}

#web{
    width: 80%;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    min-width: 900px;
    max-width: 1300px;

}

/*  Animación altavoces*/
/** Mozilla 5.0 **/
@-moz-keyframes ensanchar{
    0% {transform: scale(1,1);}
    50% {transform: scale(1.18,1.05);}
    100% {transform: scale(1,1);}
}

/** Opera 12.0 **/
@-o-keyframes ensanchar{
    0% {transform: scale(1,1);}
    50% {transform: scale(1.18,1.05);}
    100% {transform: scale(1,1);}
}

/** Chrome 4.0, Opera 15.0 **/
@-webkit-keyframes ensanchar{
    0% {transform: scale(1,1);}
    50% {transform: scale(1.18,1.05);}
    100% {transform: scale(1,1);}
}

@keyframes ensanchar{
    0% {transform: scale(1,1);}
    50% {transform: scale(1.18,1.05);}
    100% {transform: scale(1,1);}
}

/* Formulario: sugerirCancion */

[required]{
    border-color: green;
    color: darkgreen;
}

input:invalid{
    border-color: red;
    color: darkred;
}
