body
  background-color #aaaaaa
main
  flex-flow row
  flex-wrap wrap

div
  background-color white
  border 1px solid black
  display inline-block
  overflow scroll

#contenido
  width 60%

aside
  display inline-block
  width 33%
  vertical-align top

aside div
  width 100%

