html, body{
    margin:0;
    height: 100%;
}

table{
    width: 99%;
    height: 99%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

tr td{
    border: 1px solid black;
    width: 24%;
    height: 32%;
}

textarea{
    resize: none;
    width: 50%;
    height: 50%;
}