body{
    height: 1300px;
}

main input{
    margin: 10px;
    padding: 7px;
}

#text{
    width: 40%;
    display: inline-block;
}

#inputs{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    position: fixed;
}