section{
    width: 30.5%;
    display: inline-block;
    vertical-align: top;
    background:rgba(86, 168, 255, 0.7);
    box-shadow: 1px 1px 10px black;
    margin:20px 20px;
    transition: all 1s;
    transform: scale(1, 1);
    min-width: 350px;
    overflow: hidden;
}

section:hover{
    background: #001359;
    color: white;
    transition: all 1s;
    transform: scale(1.05, 1.05);
}


section h3{
    text-align: center;
}

section ul{
    list-style: none;
}

section a{
    text-decoration: none;
    color: #001359;
    transition: color 1s;
}

section:hover a{
    color:white;
    transition: color 1s;
}